*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header-img {
	position: relative;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.8) url('../../dist/img/modern-house-big.jpg')
		no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;

	
}